.App a {
  margin: 10%;
  font-size: 30px;
  color: blue;
  -webkit-transition: .3s;
}
.App a:hover {
  color: hotPink;
}
@media (-webkit-min-device-pixel-ratio:0) {
.App a {
    background-color: black;
    background-image: -webkit-linear-gradient(left, hotPink 0%, red 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    -webkit-transition: .3s .2s;
    -webkit-background-clip: text;
font-weight: 700;
  }
.App a:hover {
    background-position: 0 0;
    color: transparent;
    transition: .1s 0;
  }
}
#del {
  margin: 1%;
  font-size: 15px;
  color: red;
}
.mark {
  position:relative;
	padding-left:25px;
  width: 18px;
  height: 18px;
  left: 0;
  bottom: -5px;
 }
